@charset "UTF-8";
* {
  padding: 0; /*所有內容貼齊邊框, 以利後續排版*/
  margin: 0;
}

body #root .container #menu-switch {
  /*雖然被隱藏, 但功能依然還在*/
  /*功能在#menu-switch:checked + .main-header .main-nav*/
  display: none;
}
body #root .container #menu-switch:checked + .main-header .main-nav {
  display: block;
}
body #root .container #Page01:active .main-nav {
  display: none;
}
body #root .container .main-header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(243, 215, 164);
  position: fixed;
  z-index: 3;
}
body #root .container .main-header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  width: 50%;
}
body #root .container .main-header .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
body #root .container .main-header .logo h1 {
  font-size: 24px;
}
body #root .container section.page01 {
  width: 100%;
  height: calc(100vh - 80px); /*扣掉header高度: 40(header) +  padding(10px *2)*/
  background-image: url("../../public/img/m01.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  left: 0px;
}
body #root .container section.page01 .back {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute; /*避免文字因濾鏡而移動到背景最底下*/
  top: 0px;
  left: 0px;
  z-index: 1;
}
body #root .container section.page01 h2.txt {
  color: white;
  z-index: 2;
  margin-bottom: 5px;
}
body #root .container section.page01 button.start {
  z-index: 2;
  width: 100px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-color: wheat;
}

@media screen and (max-width: 767px) {
  #root .container .main-nav {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    width: 50%;
  }
  #root .container .main-nav ul {
    width: 150px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
  }
  #root .container .main-nav ul li {
    list-style-type: none;
    margin: 15px 0 15px 0;
  }
  #root .container .main-nav ul li a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
  }
  #root .container .hb {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ad8961;
    display: flex; /*白線位置設置*/
    flex-direction: column; /*白線位置設置*/
    justify-content: space-evenly; /*白線位置設置*/
    align-items: center; /*白線位置設置*/
  }
  #root .container .hb span {
    width: 80%;
    height: 4px;
    background-color: #fff;
  }
}
@media screen and (min-width: 768px) {
  #root .container #Main-Header {
    /*因前面#menu-switch:checked + .main-header .main-nav*/
    height: 100px;
  }
  #root .container .main-nav {
    width: 60%;
    display: flex;
    align-items: center;
  }
  #root .container .main-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #root .container .main-nav ul li {
    list-style-type: none;
  }
  #root .container .main-nav ul li a {
    color: #000;
    text-decoration: none;
  }
}
@media screen and (min-width: 1024px) {
  #root .container #Logo img {
    width: 75px;
    height: 75px;
    border-radius: 60px;
    margin-right: 25px;
  }
  #root .container #Logo h1 {
    font-size: 24px;
  }
  #root .container #Main-Nav ul li a {
    font-size: 18px;
  }
  #root .container #Page01 .txt {
    font-size: 32px;
  }
  #root .container #Page01 button.start {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */